.form-container {
    max-width: 500px;
    margin-left: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: '20px';
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  select {
    appearance: none;
  }
  
  input[type="file"] {
    padding: 5px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .summary-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
  }
  
  .summary-container h2 {
    margin-top: 0;
  }
  
  .summary-container p {
    margin: 5px 0;
  }